@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
}

a {
    text-decoration: none;
}

/*--------------------------- HEADER INDEX ------------------------------*/

header img {
    max-height: 100px;
}

header .navbar {
    display: flex;
    justify-content: flex-end;
}

header .navbar-nav .nav-item .nav-link {
    color: rgb(70, 68, 66);
    font-size: 15px;
    margin: 10px;
}

@media (max-width: 768px) {
    header .navbar {
        justify-content: right;
    }

    header .navbar-nav {
        flex-direction: column;
    }

    header .navbar-nav .nav-item {
        margin-bottom: 10px;
        width: 100%;
    }

    header .navbar-nav .nav-item .nav-link {
        padding: 10px 0;
    }
}

/*------------------------------- WHATS APP INDEX -------------------------------------- */

.fixed {
    position: fixed;
    bottom: 50px;
    right: 60px;
    width: 10px;
    height: 20px;
}

/*---------------------------------- HERO INDEX ----------------------------------------*/

.hero {
    height: 40vh;
    background-image: url(../img/Fondo-Header.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color:blanchedalmond;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 2s;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .hero {
        height: 20vh;
    }

    .hero h1 {
        font-size: 24px;
    }

}

/*----------------- DESCRIPCION INDEX -----------------------*/

.descripcion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
}

.descripcion div {
    width: 50%;
    text-align: center;
}

.descripcion img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 40px auto 5px;
    border-radius: 2px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.descripcion div h2 {
    font-size: 35px;
    font-weight: 600;
    color: rgb(222,183,128);
    text-align: center;
    margin-bottom: 20px;
}

.descripcion div p {
    font-size: 15px;
    text-align: center;
    color: rgb(70, 68, 66);
    text-align: center;
    /*flexbox*/
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
}

@media (min-width:320px) and (max-width: 768px) {
    .descripcion {
        flex-direction: column;
        align-items: center;
    }

    .descripcion div {
        width: 100%;
        text-align: center;
    }

    .descripcion img {
        margin: 0 auto 20px;
        width: 100%;
        height: auto;
    }

    .descripcion div h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .descripcion div p {
        font-size: 14px;
    }
}

/*--------------------------- HABITACIONES INDEX ------------------------------*/

.habitaciones {
    background-color: rgb(243, 232, 218);
    height: 600px;
    margin-top: 35px;
}

.habitaciones h3 {
    font-size: 30px;
    text-align: center;
    color: rgb(70, 68, 66);
    padding-top: 25px;
    padding-bottom: 5px;
    position: relative;
}

.habitaciones .tarjetitas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.habitaciones .tarjetitas div {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 450px;
    margin: 30px;
    /*flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    /* padding y border no se suman*/
}

.habitaciones .tarjetitas div img {
    width: 100%;
    height: auto;
}

.habitaciones .tarjetitas h4 {
    font-size: 20px;
    color: rgb(214, 160, 105);
    margin: 10px 0;
    text-align: center;
}

.habitaciones .tarjetitas div p {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
    /* acomodar parrafo en la*/
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
}

.habitaciones .tarjetitas div a {
    background-color: rgb(230, 204, 182);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;   /*manito*/
    padding: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: fit-content; 
    max-width: 150px; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;
}    

.habitaciones .tarjetitas div a:hover {
    background-color: sandybrown;
    border-radius: 5px;
}

@media (max-width:1028px) {
    .habitaciones {
        height: auto;
        margin: 10px;
        padding: 10px;
    }

    .habitaciones h3 {
        font-size: 26px;
        text-align: center;
    }

    .habitaciones .tarjetitas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        justify-items: center;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .habitaciones {
        height: auto;
        margin: 10px;
    }

    .habitaciones h3 {
        font-size: 24px;
        text-align: center;
    }

    .habitaciones .tarjetitas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-content: center;
        padding-left: 25px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .habitaciones {
        height: auto;
        padding: 10px;
    }

    .habitaciones h3 {
        font-size: 20px;
        text-align: center;
    }

    .habitaciones .tarjetitas {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        justify-content: center;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .habitaciones {
        height: auto;
        padding: 10px;
    }

    .habitaciones h3 {
        font-size: 20px;
    }

    .habitaciones .tarjetitas {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        justify-content: center;
    }
}

/*------------------------ GALERIA INDEX ------------------------------*/

.galeria h3 {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    color: rgb(70, 68, 66);
}

.carousel-inner {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    padding-bottom: 15px;
    transition: transform 0.5s ease-in-out;
}

.carousel-item img {
    flex: 0 0 auto;
    width: auto;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-inner::-webkit-scrollbar {
    display: none;
}


@media (max-width: 768px) {
    .galeria h3 {
        font-size: 25px;
        padding: 20px;
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width:480px) {
    .galeria h3 {
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
}

/*-----------------FORMAS DE PAGO -----------------*/

.forma {
    text-align: center;
    padding: 20px;
}

.forma h3 {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: rgb(70, 68, 66);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.pago {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.pago div {
    text-align: center;
    flex: 1 1 150px;
    min-width: 120px;
}

.pago img {
    width: 100px;
    height: auto;
}

.pago p {
    margin-top: 10px;
    font-size: 17px;
}


@media (max-width: 768px) {
    .forma h3 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .pago {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .pago img {
        width: 80px;
    }
}

@media (min-width: 320px) and (max-width:480px) {
    .forma h3 {
        font-size: 18px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .pago {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5%;
    }

    .pago img {
        width: 80px;
    }
}

/*------- -------------------- FOOTER INDEX ----------------------------------*/

footer {
    background-color: rgb(211, 197, 182);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    height: auto;
}

footer div {
    text-align: center;
    margin-bottom: 20px;
}

footer img {
    max-height: 150px;
    margin: 0 auto;
}

.contacto p {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1, 1;
    /* ajuste de la altura de línea */
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    footer div {
        margin-bottom: 20px;
        width: 100%;
    }

    footer img {
        margin: 0 auto;
    }
}

/*---------------------------- PAGE HABITACIONES ---------------------------------*/

.habitacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color:rgb(243,232,218);
    padding: 20px;
    border: 1px solid;
    color: rgb(70, 68, 66);
    align-items: center;
}

.habitacion img {
    width: 100%;
    height: auto;
}

.informacion {
    display: grid;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    text-align: center;
}

.informacion h5 {
    font-size: 20px;
    color: rgb(70, 68, 66);
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.informacion p {
    font-size: 14px;
}

.comodidades ul li {
    list-style-type: circle;
    padding: 0;
    margin-left: 70px;
    text-align: justify;
    font-size: 14px;
}

@media (min-width:768px) and (max-width: 1028px) {
    .habitacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: start;
    }

    .habitacion img {
        grid-column: 1 / 3;   /*imagen ocupa toda la fila*/
        width: 100%;
        height: auto;
    }

    .informacion {
        grid-column: 1 / 2;  /*la primera columna*/
        text-align: center;
    }

    .comodidades {
        grid-column: 2/3;  /*la segunda columna*/
        margin-top: 40px;
    }

    .comodidades ul li {
        list-style-type: circle;
        list-style-position: inside;
        text-align: justify;
    }
}

@media (min-width:480px) and (max-width: 768px) {
    .habitacion {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: start;
    }

    .habitacion img {
        grid-column: 1/2;   /*imagen ocupa toda la fila*/
        width: 100%;
        height: auto;
    }

    .informacion {
        grid-column: 1/2;   /*la primera columna*/
        text-align: center;
    }

    .comodidades {
        grid-column: 1/2;   /*la segunda columna*/
        margin-top: 10px;
    }

    .comodidades ul li {
        list-style-type: circle;
        list-style-position: inside;
        text-align: justify;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .habitacion {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: start;
    }

    .habitacion img {
        grid-column: 1;         /*imagen ocupa toda la fila*/
        width: 100%;
        height: auto;
    }

    .informacion {
        grid-column: 1;          /*la primera columna*/
        text-align: center;
    }

    .comodidades {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;          /*comodidades ocupan toda la fila*/
        margin-top: 10px;
    }

    .comodidades ul li {
        list-style-type: circle;
        list-style-position: inside;
        text-align: justify;
    }
}

/* ------------------------------- PAGE SERVICIOS -------------------------------- */

.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px;
    align-items: start;
}

.servicios img {
    width: 100%;
    height: 530px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.servicios .lista {
    background-color: #f3e8da;
    padding: 30px;
    min-height: 530px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.servicios .lista h6 {
    grid-column:span 2;
    font-size: 30px;
    color: rgb(70, 68, 66);
    text-align: center;
    margin-bottom: 5px;
}

.servicios .lista ul li{
    list-style: disc;
    text-align: justify;
    padding: 0;
}

@media (max-width: 768px) {
    .servicios {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .servicios img {
        height: auto;
    }

    .lista h6 {
        height: auto;
        font-size: 24px;
        padding: 20px;
    }

    .servicios .lista {
        max-height: auto;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .servicios .lista {
        padding: 15px;
    }

    .servicios .lista h6 {
        font-size: 18px;
    }

    .servicios .lista ul {
        padding: 15px;
    }

    .servicios .lista {
        max-height: auto;
        display: flex;
        flex-direction: column;
    }
}

/*---------------------------- PAGE ACTIVIDADES -----------------------------------*/

.actividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.actividades h2 {
    font-size: 40px;
    color: rgb(222,183,128);
    font-weight: 600;
    text-align: center;
    margin: 30px;
}

.actividades h5 {
    color: rgb(70, 68, 66);
    font-size: 20px;
    align-self: flex-start;
    margin: 0;
    padding-top: 10px;
}

.actividades p {
    font-size: 15px;
    align-self: flex-start;
    margin: 10px 0;
    padding-left: 0;
}

.turismo {
    text-align: center;
    padding: 2rem;
    background-color: rgb(243, 232, 218);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.card {
    background-color:white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px; /*espacio interno*/
    height: 100%; /*tarjeta ocupa toda la altura disponible*/
    min-height: 300px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-text {
    font-size: 14px;
    margin-bottom: auto;
}

.card a {
    padding: 3px 10px;
    background-color: rgb(230, 204, 182);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: auto; /* Esto mueve el botón hacia el final del div */
    align-self: center;
}

.card a:hover {
    background-color: sandybrown;
}

@media (min-width:320px) and (max-width:620px) {
    .cards-container {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto;
        align-items: center;
        max-width: 100px !important;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*---------------------------- PAGE CONTACTO --------------------------------------*/

.comunicate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px;
    align-items: start;
}

.comunicate img {
    width: 100%;
    height: 530px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario {
    background-color: #f3e8da;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 525px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario h6 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    margin-bottom: 3px;
}

form input,
form textarea {
    padding: 5px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    /*padding y border dentro del width */
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

@media (max-width: 768px) {
    .comunicate {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .comunicate img {
        height: auto;
    }

    .formulario {
        height: auto;
    }
}