.habitaciones-pagina {
    .habitacion {
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        background-color: $background-general;
        padding: 20px;
        border: 1px solid rgb(70, 68, 66);
        align-items: center;

        img {
            width: 100%;
            height: auto;
            border-radius: 2px;
            border: 2px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        }

        .informacion {
            display: flex;
            flex-direction: column;
            align-content: center;
            gap: 10px;
            text-align: center;
            grid-column: 2 / 3;

            h5 {
                @include quinta-fuente;
                text-align: center;
                margin-bottom: 10px; 
            }

            p {
                @include parrafos-varios;
                margin-top: 10px; 
            }
        }

        .comodidades {
            ul {
                li {
                    list-style-type: circle;
                    padding: 0;
                    margin-left: 40px;
                    text-align: justify;
                    @include parrafos-varios;
                }
            }
        }
    }
}