header {
    height: 70px; 
    background-color: white;
    display: flex;
    align-items: center;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .col-12.col-md-3 {
                display: flex;
                justify-content: flex-start;

                img {
                    max-height: 80px;
                }
            }

            .col-12.col-md-9 {
                .navbar {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .navbar-toggler {
                        display: none;   
                    }

                    .navbar-collapse {
                        display: flex;
                        justify-content: flex-end;

                        .navbar-nav {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            .nav-item {
                                .nav-link {
                                    @include quinta-fuente;

                                    &:hover {
                                        color: $button-hover-color;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}